---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all %}
{%- if item.data.permalink != "/robots.txt" and item.data.permalink != "/sitemap.xml" %}
  <url>
    <loc>{{ item.url | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ item.date | isoDate }}</lastmod>
    <xhtml:link rel="alternate" hreflang="{{ item.data.lang }}" href="{{ item.url | absoluteUrl(site.url) }}"/>
    <xhtml:link rel="alternate" hreflang="{{ "tr" if item.data.lang == "en" else "en" }}" href="{{ (item.data.pageKey | altUrl(item.data.translationKey, item.data.lang, nav, collections)) | absoluteUrl(site.url) }}"/>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
